* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

/* Global Msg */
.social > i:nth-child(odd) {
  font-size: 1.3rem;
}

.msg {
  font-size: 16px;
  font-weight: bold;
}

.logo {
  font-size: 1rem;
}

.global-msg {
  background-color: aqua;
}
.global-msg > div,
.top-menu {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav bar */
.nav-bar {
  background-color: blueviolet;
}
.menu > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.menu a {
  cursor: pointer;
  text-decoration: none;
}
.menu a:hover {
  color: pink;
  font-size: 1.2rem;
}

/* hero */
.hero {
  background-image: url("./hero.jpeg");
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content > h1::first-letter {
  color: red;
}

.hero-content {
  color: white;
  background-color: rgba(62, 86, 112, 0.354);
  padding: 1rem 2rem;
  border-radius: 10px;
}

/* main content */
.main {
  display: flex;
  margin-top: 25px;
}
.main-content {
  width: 66%;
}
.sid-links {
  width: 34%;
}

article {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.art-img {
  width: 250px;
  margin-right: 10px;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.btn-box {
  display: flex;
  justify-content: end;
}
.btn {
  padding: 8px 15px;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/* side links */

.read-by-country,
.read-by-date {
  padding: 2rem;
  margin: 2rem;
  background-color: chocolate;
  border-radius: 5px;
}

.read-by-date {
  background-color: rgb(241, 149, 84);
}

/* Recommended section  */
.rec {
  background-color: rgb(241, 149, 84);
  padding: 3rem 0;
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}

.card {
  width: 250px;
  background-color: white;
  padding: 10px;
  box-shadow: 4px 11px 30px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.subs {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.subs input {
  padding: 5px 10px;
  border-color: rgba(63, 62, 60, 0.771);
  border-radius: 10px;
}

footer {
  padding: 50px;
  background-color: bisque;
  text-align: center;
}
